@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(0, 0%, 94%);
    padding-top: 7em;
}


.gold {
    background-color: hsl(47, 88%, 63%);
    font-family: "Figtree", sans-serif;
    padding: 20px;
    width: 80%;
    margin: auto;
}

.white {
    background-color: hsl(0, 0%, 100%);
    width: 32%;
    margin: auto;
    border-radius: 12px;
    border: 1.5px solid black;
    padding: 1em;
    box-shadow: 5px 5px 0px 2.5px black;
}

.white .article {
    width: 99%;
    border-radius: 10px;
}

.white button {
    width: 28%;
    height: 35px;
    border-radius: 5px;
    margin-top: 1em;
    border: none;
    background-color: hsl(47, 88%, 63%);
    font-weight: 800;
    font-size: .9em;
}

.white .month {
    font-size: .9em;
    margin-top: .9em;
    letter-spacing: 1px;
    margin-left: .3em;
    font-weight: 500;
}

.white h1 {
    font-size: 1.5em;
    color: hsl(47, 88%, 63%);
    margin-top: .7em;
    font-weight: 800;
    letter-spacing: 1px;
}

.white .one-text {
    font-size: 14px;
    margin-top: 1em;
    color: hsl(0, 0%, 42%);
    font-weight: 500;
    line-height: 21px;
}

.white .editor {
    display: flex;
    margin-top: 1em;
    gap: 10px;
}

.editor .greg {
    width: 40px;
    height: 40px;
}

.editor .two-text {
    font-size: 17px;
    font-weight: 800;
    margin-top: .4em;
}


/* Responsive Design */

@media screen and (max-width:375px) {
    .gold {
        width: 100%;
    }

    .white {
        width: 90%;
    }

    .white h1 {
        font-size: 1.2em;
    }

    .white .one-text {
        font-size: 11px;
    }

    .editor .greg {
        width: 30px;
        height: 30px;
    }

    .editor .two-text {
        font-size: 15px;
    }
}


@media screen and (max-width:1440px) {
    .white .one-text {
        font-size: 13px;
    }

    .editor .greg {
        width: 38px;
        height: 38px;
    }

    .editor .two-text {
        font-size: 19px;
    }
}
